{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div onclick="exibir_form('1')" class="col-md card-dashboard">
                <p class="text-card">Adicionar clientes</p>
            </div> 

            <div onclick="exibir_form('2')" class="col-md card-dashboard">
                <p class="text-card">Atualizar clientes</p>
            </div> 

        </div>

            <div id="adicionar-cliente" class="adicionar-cliente">
                <form action="{% url 'clientes' %}" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md">
                            <p>Nome:</p>
                            <input type="text" class="form-control" placeholder="Primeiro nome" name="nome" value="{{nome}}">
                        </div>
                        <div class="col-md">
                            <p>Sobrenome:</p>
                            <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{sobrenome}}">
                        </div>
                    </div>
                    <br>
                    <p>E-mail:</p>
                    <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{email}}">
                    <br>
                    <p>CPF:</p>
                    <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{cpf}}">
                    <hr style="background-color:gray;">
                    <div class="add-carros">
                        <h3>Carros</h3>
                        <span class="btn-add-carros" onclick="add_carro()">+ Adicionar um carro</span>
                        
                        <div id="form-carro">
                            {% for carro, placa, ano in carros%}
                                    <br>
                                    <div class="row">
                                        <div class="col-md">
                                            <input type='text' placeholder='carro' class='form-control' name='carro' value="{{carro}}">
                                        </div>

                                        <div class="col-md">
                                            <input type='text' placeholder='Placa' class='form-control' name='placa' value="{{placa}}">
                                        </div>

                                        <div class="col-md">
                                            <input type='number' placeholder='ano' class='form-control' name='ano' value="{{ano}}">
                                        </div>

                                    </div>
                            {% endfor%}
                        </div>

                    </div>

                    <br>
                    <input type="submit" value="Cadastrar" class="btn-principal">

                </form>
        
            </div>


            <div id="att_cliente">
                <p></p>
                <select id="cliente-select"  onchange="dados_cliente()" class="form-control">
                    {% for cliente in clientes %}
                    <option value="{{cliente.id}}">{{cliente.nome}}</option>
                    {% endfor %}
                </select>
                <br>
                <hr>

                <div id="form-att-cliente">
                    <input type="hidden" id="id">
                    <p>Nome:</p>
                    <input id="nome" type="text" class='form-control'>
                    <p>Sobrenome:</p>
                    <input id="sobrenome" type="text" class='form-control'>
                    <p>E-mail:</p>
                    <input id="email" type="text" class='form-control'>
                    <p>CPF:</p>
                    <input id="cpf" type="text" class='form-control'>
                    <br>
                    <input onclick="update_cliente()"  type="submit" value="salvar" class="btn btn-success" > 
                    <hr style="background-color: gray;">
                    <h2>Carros</h2>
                    <div id="carros">
                        
                    </div>
                </div>
                
            </div>

    </div>
    <script >
      function add_carro(){
      container = document.getElementById('form-carro')

     html = "<br>  <div class='row'> <div class='col-md'> <input type='text' placeholder='carro' class='form-control' name='carro' > </div> <div class='col-md'><input type='text' placeholder='Placa' class='form-control' name='placa' ></div> <div class='col-md'> <input type='number' placeholder='ano' class='form-control' name='ano'> </div> </div>"

     container.innerHTML += html
  }

function exibir_form(tipo){

  add_cliente = document.getElementById('adicionar-cliente')
  att_cliente = document.getElementById('att_cliente')

  if(tipo == "1"){
      att_cliente.style.display = "none"
      add_cliente.style.display = "block"

  }else if(tipo == "2"){
      add_cliente.style.display = "none";
      att_cliente.style.display = "block"
  }

}



function dados_cliente(){
  cliente = document.getElementById('cliente-select')
  csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
  id_cliente = cliente.value

  data = new FormData()
  data.append('id_cliente', id_cliente)

  fetch("/clientes/atualiza_cliente/",{
      method: "POST",
      headers: {
          'X-CSRFToken': csrf_token,
      },
      body: data

  }).then(function(result){
      return result.json()
  }).then(function(data){
      document.getElementById('form-att-cliente').style.display = 'block'
      
      id = document.getElementById('id')
      id.value = data['cliente_id']

      nome = document.getElementById('nome')
      nome.value = data['cliente']['nome']

      sobrenome = document.getElementById('sobrenome')
      sobrenome.value = data['cliente']['sobrenome']

      cpf = document.getElementById('cpf')
      cpf.value = data['cliente']['cpf']

      email = document.getElementById('email')
      email.value = data['cliente']['email']

      div_carros = document.getElementById('carros')
//
// que coisa complicado 
//                     
      for(i=0; i<data['carros'].length; i++){
          div_carros.innerHTML += "\<form action='/clientes/update_carro/" + data['carros'][i]['id'] +"' method='POST'>\
              <div class='row'>\
                      <div class='col-md'>\
                          <input class='form-control' name='carro' type='text' value='" + data['carros'][i]['fields']['carro'] + "'>\
                      </div>\
                      <div class='col-md'>\
                          <input class='form-control' name='placa' type='text' value='" + data['carros'][i]['fields']['placa'] + "'>\
                      </div>\
                      <div class='col-md'>\
                          <input class='form-control' type='text' name='ano' value='" + data['carros'][i]['fields']['ano'] + "' >\
                      </div>\
                      <div class='col-md'>\
                          <input class='btn btn-lg btn-success' type='submit'>\
                      </div>\
                  </form>\
                  <div class='col-md'>\
                      <a href='/clientes/excluir_carro/"+ data['carros'][i]['id'] +"' class='btn btn-lg btn-danger'>EXCLUIR</a>\
                  </div>\
              </div><br>"
      }
      
  })


}


    </script>
{% endblock%}